body {
    margin: 0px;
    display: flex;
    justify-content: center;
}

.BodyCenter {
    display: grid;
    grid-template-columns: 1fr 5fr;
    width: 1500px;
}

.SideBar {
    display: flex;
    flex-direction: column;
    background-color: gray;
    padding-top: 15%;
    padding-left: 10%;
}

.ContainerAllProjects {
    margin: 30px 0px 30px 0px;
}

.ContainerGrid {
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
    justify-items: start;
    margin-bottom: 30px;
}

.Main {
    background-color: #dddddd;
    padding-top: 5%;
    padding-left: 5%;
    height: 96vh;
}

.BtnProject {
    color: #d9d9d9;
    font-size: large;
    font-weight: 600;
    text-shadow: 1px 1px 2px black;
    border: none;
    background-color: gray;
    margin-left: -25px;
    border-radius: 0px 15px 15px 0px;
    padding: 5px 55px 5px 25px;
    width: 200px;
    text-align: left;
}

.BtnProject:hover {
    cursor: pointer;
    background-color: rgb(104, 104, 104);
}

.BtnProject:focus {
    background-color: rgb(163, 143, 54);
}

.BtnDeleteProject {
    background-color: #686868;
    border: none;
    position: relative;
    right: 35px;
    color: #d1d1d1dd;
    font-size: large;
    font-weight: 600;
    text-shadow: 1px 1px 2px black;
    visibility: hidden;
}

.ContainerBtnProject:hover .BtnDeleteProject {
    visibility: visible;
}

.BtnDeleteProject:hover {
    background-color: #686868;
    border: none;
    position: relative;
    right: 35px;
    color: #e7e7e7;
    font-size: larger;
    font-weight: 600;
    text-shadow: 3px 3px 5px black;
    cursor: pointer;
}

.ContainerBtnProject:hover .BtnProject {
    cursor: pointer;
    background-color: rgb(104, 104, 104)
}


.CreateProject {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.ContainerCreateProject {
    background-color: #dddddd;
    border: 1px solid grey;
    border-radius: 4px;
    box-shadow: 1px 1px 2px #494949;
}

.BtnCreateProject {
    background-color: #dddddd;
    height: 30px;
    width: 500px;
    border: none;
}


.BtnCreateProject:hover {
    background-color: rgb(201, 201, 201);
    border-radius: 15px;
}

.BtnCreateProject:focus-visible {
    outline: none;
}

.BtnCreateText:hover {
    background-color: #dddddd;
    border-radius: 4px;
}

.BtnCreatePlus {
    width: 30px;
    font-weight: 600;
    font-size: 15px;
} 
.BtnCreatePlus:active {
    background-color: grey;
    border-radius: 15px;
}

.ProjectCard {
    width: 500px;
    /* border: 1px solid black; */
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
}

.TodoCheckbox {
    display: flex;
    justify-content: space-between;
    margin: 5px 0px;
}

.ProjectTitleText {
    background-color: #dddddd;
    border: none;
    font-size: 32px;
    margin: 15px 0px;
}

.ProjectInfo{
    display: flex;
    justify-content: space-between;
}

.ProjectDueDate{
    display: flex;
    margin-right: 15%;
}

.ProjectPriority{
    display: flex;
}

.ToDos {
    margin-top: 3%;
}

.TodoAdd {
    display: flex;
    justify-content: space-between;
    margin-left: 5px;
}

.TodoAddTodo {
    background-color: #dddddd;
    border: none;
    margin-left: 5px;
}

.TodoPriority {
    display: flex;
}

.TodoAddPrio {
    visibility: hidden;
}

.PriorityValue {
    background-color: #f3f363;
}

.TodoPriorityValue {
    background-color: #f3f363;
}

select option[value='low'] {
    background-color: #f3f363;
}
select option[value='mid'] {
    background-color: #f3be63;
}
select option[value='heigh'] {
    background-color: #f93434;
}

.BtnTodoDelete {
    background-color: #dddddd;
    border: none;
}

.BtnTodoDelete:hover {
    background-color: rgb(201, 201, 201);
    border-radius: 10px;
}

.BtnTodoDelete:active {
    background-color: gray;
    border-radius: 10px;
}

.BtnCreateTodo {
    background-color: #dddddd;
    border: none;
    margin-left: -5px;
    font-size: 15px;
    font-weight: 600;
}

.BtnCreateTodo:hover {
    background-color: rgb(201, 201, 201);
    border-radius: 10px;
}

.BtnCreateTodo:active {
    background-color: gray;
    border-radius: 10px;
}
