body {
    margin: 0px;
    display: flex;
    justify-content: center;
}

.BodyCenter {
    display: grid;
    grid-template-columns: 1fr 5fr;
    width: 1500px;
}

.SideBar {
    display: flex;
    flex-direction: column;
    background-color: gray;
    padding-top: 15%;
    padding-left: 0; /* Verwijder padding aan de linkerkant */
}

.ContainerAllProjects, .ContainerGrid, .ContainerProjects {
    margin: 0; /* Verwijder marges */
    padding: 0; /* Verwijder padding */
}

.Main {
    background-color: #dddddd;
    padding-top: 5%;
    padding-left: 5%;
    height: 96vh;
}

/* project cards */
.ProjectsArea {
    overflow-y: scroll;
    height: 80vh;
}
/* sideBar  */
.ContainerProjects {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 70vh;
}

.ContainerBtnProject {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
}

.BtnProject {
    color: #d9d9d9;
    font-size: large;
    font-weight: 600;
    text-shadow: 1px 1px 2px black;
    border: none;
    background-color: gray;
    border-radius: 0px 15px 15px 0px;
    padding: 5px 25px;
    width: 200px; /* Vaste breedte */
    text-align: left;
    box-sizing: border-box;
    position: relative;
}

.BtnProject:hover {
    cursor: pointer;
    background-color: rgb(104, 104, 104);
    width: 200px; /* Vaste breedte */
}

.BtnProject:focus {
    background-color: rgb(163, 143, 54);
}

.ContainerBtnProject:hover .BtnProject {
    cursor: pointer;
    background-color: rgb(104, 104, 104);
}

.BtnDeleteProject {
    background-color: #686868;
    border: none;
    position: absolute; /* Verander positionering naar absoluut */
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    color: #d1d1d1dd;
    font-size: large;
    font-weight: 600;
    text-shadow: 1px 1px 2px black;
    visibility: hidden;
}

.ContainerBtnProject:hover .BtnDeleteProject {
    visibility: visible;
}

.BtnDeleteProject:hover {
    background-color: #686868;
    border: none;
    color: #e7e7e7;
    font-size: larger;
    font-weight: 600;
    text-shadow: 3px 3px 5px black;
    cursor: pointer;
}

.CreateProject {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.ContainerCreateProject {
    background-color: #dddddd;
    border: 1px solid grey;
    border-radius: 4px;
    box-shadow: 1px 1px 2px #494949;
}

.ContainerCreatedProject:hover {
    text-wrap: nowrap;
}

.BtnCreateProject {
    background-color: #dddddd;
    height: 30px;
    width: 500px;
    border: none;
}

.BtnCreateProject:hover {
    background-color: rgb(201, 201, 201);
    border-radius: 15px;
}

.BtnCreateProject:focus-visible {
    outline: none;
}

.BtnCreateText:hover {
    background-color: #dddddd;
    border-radius: 4px;
}

.BtnCreatePlus {
    width: 30px;
    font-weight: 600;
    font-size: 15px;
}

.BtnCreatePlus:active {
    background-color: grey;
    border-radius: 15px;
}

.ProjectCard {
    width: 500px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
}

.TodoCheckbox {
    display: flex;
    justify-content: space-between;
    margin: 5px 0px;
}

.ProjectTitleText {
    background-color: #dddddd;
    border: none;
    font-size: 32px;
    margin: 15px 0px;
}

.ProjectInfo {
    display: flex;
    justify-content: space-between;
}

.ProjectDueDate {
    display: flex;
    margin-right: 15%;
}

.ProjectPriority {
    display: flex;
}

.ToDos {
    margin-top: 3%;
}

.TodoAdd {
    display: flex;
    justify-content: space-between;
    margin-left: 5px;
}

.TodoAddTodo {
    background-color: #dddddd;
    border: none;
    margin-left: 5px;
}

.TodoPriority {
    display: flex;
}

.TodoAddPrio {
    visibility: hidden;
}

.PriorityValue {
    background-color: #f3f363;
}
